/* rgb(73, 50, 69) */
/* rgb(215, 212, 97) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

button {
    width: 100%;
    font-weight: bold;
    border: none;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
    margin: 8px 0;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: inherit;
}

header, button {
    background-color: rgb(73, 50, 69);
    color: rgb(215, 212, 97);
}

header {
    max-width: 640px;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    color: rgb(73, 50, 69);
    border-bottom: 3px solid rgb(73, 50, 69);
    padding-bottom: 18px;
    margin: 24px 0;
    font-style: italic;
}

img {
    max-width: 100%;
    margin-top: 12px;
}

.container {
    max-width: 640px;
    width: 100%;
    padding: 32px;
    margin: 0 auto;
}

.lista-produtos p {
    margin: 8px 0;
}

.lista-produtos h3 {
    margin-top: 8px;
}

.valor {
    font-style: italic;
}

@media screen and (min-width:641px) and (max-width: 1023px){
    
    header, .container {
        max-width: 1023px;
    }

    header .container {
        padding: 8px 64px;
    }

    .container {
        padding: 0 64px;
        padding-top: 32px;
    }

    .lista-produtos {
        display: grid;
        grid-template-columns: repeat(2, 49.5%);
        column-gap: 1%;
        row-gap: 3%;
    }

    nav li {
        display: inline;
        margin-right: 30px;
    }

    br {
        display: none;
    }

}

@media screen and (min-width: 1024px) {
        
    .container {
        max-width: 60%;
    }
    
    header {
        max-width: 100%;
    }

    .lista-produtos {
        display: grid;
        grid-template-columns: repeat(4, 24.25%);
        column-gap: 1%;
        row-gap: 3%;
    }

    nav li {
        display: inline;
        margin-right: 30px;
    }

    br {
        display: none;
    }

    #sobre-a-loja .container {
        display: grid;
        grid-template-columns: 30% 65%;
        column-gap: 5%;
    }
}